@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <h1 class="text-center mb-4">Book Ticket</h1>

            <form asp-action="PostBookTicket" method="post">

                <div class="form-group">
                    <label for="departureStn">Departure Station</label>
                    <select class="form-control" id="departureStn" name="departureStn">
                        <option value="Toronto">Toronto</option>
                        <option value="Winnipeg">Winnipeg</option>
                        <option value="Saskatoon">Saskatoon</option>
                        <option value="Edmonton">Edmonton</option>
                        <option value="Jasper">Jasper</option>
                        <option value="Vancouver">Vancouver</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="arrivalStn">Arrival Station</label>
                    <select class="form-control" id="arrivalStn" name="arrivalStn">
                        <option value="Vancouver">Vancouver</option>
                        <option value="Jasper">Jasper</option>
                        <option value="Edmonton">Edmonton</option>
                        <option value="Saskatoon">Saskatoon</option>
                        <option value="Winnipeg">Winnipeg</option>
                        <option value="Toronto">Toronto</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="departureDate">Departure Date</label>
                    <input class="form-control" name="departureDate" id="departureDate" type="date" value="2023-01-01" min="2023-01-01" max="2024-12-31" />
                </div>

                <div class="form-group">
                    <label for="holderName">Holder Name</label>
                    <input class="form-control" name="holderName" id="holderName" />
                </div>

                <div class="form-group">
                    <label for="age">Age</label>
                    <input class="form-control" type="number" name="age" id="age" />
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" />
                </div>

                <div class="form-group">
                    <label for="seatClass">Seat Class</label>
                    <select class="form-control" id="seatClass" name="seatClass">
                        <option value="Economy">Economy</option>
                        <option value="Business">Business</option>
                        <option value="Sleeper-Plus">Sleeper-Plus</option>
                        <option value="Prestige">Prestige</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="seatBerth">Seat Berth</label>
                    <select class="form-control" id="seatBerth" name="seatBerth">
                        <option value="Upper">Upper</option>
                        <option value="Lower">Lower</option>
                        <option value="Middle">Middle</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="numberOfPassengers">No.of Passegengers</label>
                    <select class="form-control" id="numberOfPassengers" name="numberOfPassengers">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>

                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Book Ticket</button>

            </form>
        </div>
      </div>
    </div>
